:host {
  display: block;
  height: 100%;
  width: 100%;
}

mat-card {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}


// Add aspect-ratio styles to the project-card class for browsers that support it
.project-card {
  aspect-ratio: 1 / 1.6;
}
