<mat-toolbar color="primary">
  <app-project-main-menu></app-project-main-menu>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened class="sidenav-content">
    <div class="sidenav-wrapper">
      <app-project-tree [treeData]="treeData"></app-project-tree>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group fitInkBarToContent mat-stretch-tabs="false" class="tab-bars">
      <mat-tab label="Chapter 1"></mat-tab>
      <mat-tab label="Chapter 2"></mat-tab>
      <mat-tab label="Chapter 3"></mat-tab>
    </mat-tab-group>
    <div class="editor-toolbar">
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      <div class="zoom-controls">
        <button
          mat-icon-button
          (click)="decreaseZoom()"
          [disabled]="zoomLevel <= 50">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ zoomLevel }}%</span>
        <button
          mat-icon-button
          (click)="increaseZoom()"
          [disabled]="zoomLevel >= 200">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- Editor Wrapper -->
    <div class="editor-container">
      <div class="editor-wrapper">
        <ngx-editor
          [editor]="editor"
          [placeholder]="'Type here...'"
          class="editor-content"></ngx-editor>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
