<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened class="sidenav-content">
    <div class="sidenav-wrapper">
      <div class="top-content"></div>
      <div class="middle-content"></div>
      <div class="bottom-content">
        <!-- <app-user-menu [user]="user" /> -->
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav mode="side" position="end" opened> Right side </mat-sidenav>
  <mat-sidenav-content>
    <ngx-editor [editor]="editor"></ngx-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
