<app-project-main-menu></app-project-main-menu>

@if (projectState.isLoading()) {
  <div class="loading-indicator">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
}

<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened class="sidenav-content">
    <app-project-tree></app-project-tree>
    <div class="resize-handle" (mousedown)="onResizeStart($event)"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group
      [selectedIndex]="projectState.selectedTabIndex()"
      class="tab-bars"
      mat-stretch-tabs="false"
      mat-align-tabs="start">
      @for (file of projectState.openFiles(); track file.id; let i = $index) {
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label">
              {{ file.name }}
              @switch (projectState.getSyncState()(file.id ?? 'default')) {
                @case (DocumentSyncState.Unavailable) {
                  <div
                    class="connection-status unavailable"
                    title="Document not found locally"></div>
                }
                @case (DocumentSyncState.Offline) {
                  <div
                    class="connection-status offline"
                    title="Document available offline"></div>
                }
                @case (DocumentSyncState.Syncing) {
                  <div
                    class="connection-status syncing"
                    title="Syncing with server..."></div>
                }
                @case (DocumentSyncState.Synced) {
                  <div
                    class="connection-status synced"
                    title="Connected and synced"></div>
                }
              }
              <button
                mat-icon-button
                (click)="closeTab(i); $event.stopPropagation()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-template>
          <app-element-editor
            [documentId]="file.id ?? 'default'"></app-element-editor>
        </mat-tab>
      } @empty {
        <!-- Content to display when there are no open files -->
        <mat-tab>
          <ng-template mat-tab-label> No files open </ng-template>
          <div class="empty-container">
            Please open a file from the project tree.
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
