:root {
  --editor-zoom: 1;
}

.main-container {
  height: calc(100vh - 64px); // Adjust for toolbar height
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-content {
  width: 250px;
  border-radius: 0;
}

.sidenav-wrapper {
  height: 100%;
  overflow-y: auto;
}

.tab-bars {
  background-color: var(--sys-surface-container);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* New editor-container to fill available space */
.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.editor-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: var(--sys-surface-container-lowest);
}

.editor-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0;
  background-color:var(--sys-surface-container-high);
}

.zoom-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.editor-content {
  width: 21cm;
  background-color: var(--sys-surface-container-high);
  padding: 2cm;
  margin-top: 20px;
  font-size: calc(1rem * var(--editor-zoom));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid purple;
}

/* Adjust height to auto since scrolling is handled by the wrapper */
.editor-content {
  min-height: auto;
}

.editor-content h1 {
  font-size: calc(2rem * var(--editor-zoom));
}

.editor-content p {
  font-size: calc(1rem * var(--editor-zoom));
  line-height: 1.5em;
}
