.main-container {
  height: calc(100vh - 64px); // Adjust for toolbar height
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 48px;
  overflow-y: auto;
}

mat-toolbar {
  background-color: var(--sys-surface-container-highest);
  color: var(--sys-on-surface);
}

.sidenav-content {
  width: 250px;
  border-radius: 0;
}

.sidenav-wrapper {
  height: 100%;
  overflow-y: auto;
  background-color: var(--sys-surface-container);
}

.tab-bars {
  background-color: var(--sys-surface-container);
  position: fixed;
  top: 48px;
  left: 250px;
  right: 0;
  z-index: 10;
}
