.main-container {
  height: calc(100vh - 64px); // Adjust for toolbar height
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-content {
  width: 250px;
  border-radius: 0;
}

.sidenav-wrapper {
  height: 100%;
  overflow-y: auto;
}

.tab-bars {
  background-color: var(--sys-surface-container);
  position: sticky;
  top: 0;
  z-index: 10;
}
