.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box; /* Important to include border in size calculation */

  &.small {
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 48px;
    height: 48px;
  }

  &.large {
    width: 100%;
    height: 100%;
    border: none; /* Remove any borders from the avatar component */
  }

  .skeleton {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
    border-radius: 50%;
  }
  
  svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.rounded-full {
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
