<div class="tab-interface-container">
  <nav
    mat-tab-nav-bar
    [mat-stretch-tabs]="false"
    [tabPanel]="tabPanel"
    class="tab-nav-bar">
    <!-- Home Tab -->
    <a
      mat-tab-link
      [active]="currentTabIndex === 0"
      (click)="onTabChange(0)"
      (keydown.enter)="onTabChange(0)"
      (keydown.space)="onTabChange(0)"
      tabindex="0">
      <div class="tab-label home-tab">
        <mat-icon>home</mat-icon>
      </div>
    </a>

    <!-- All Other Tabs -->
    @for (tab of projectState.openTabs(); track tab.id; let i = $index) {
      <a
        mat-tab-link
        [active]="currentTabIndex === i + 1"
        (click)="onTabChange(i + 1)"
        (keydown.enter)="onTabChange(i + 1)"
        (keydown.space)="onTabChange(i + 1)"
        [cdkContextMenuTriggerFor]="tabContextMenu"
        (contextmenu)="onTabContextMenu(i + 1, tab)"
        tabindex="0">
        <div class="tab-label">
          <mat-icon class="tab-icon">{{ getTabIcon(tab) }}</mat-icon>
          <span class="tab-name">{{ tab.name }}</span>
          <button
            mat-icon-button
            class="close-tab-button"
            (click)="closeTab(i + 1, $event)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </a>
    }
  </nav>

  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>

<!-- Tab Context Menu -->
<ng-template #tabContextMenu>
  <div class="tab-context-menu" cdkMenu>
    <!-- Only show rename for document/folder tabs (not for system tabs) -->
    @if (contextTab && contextTab.type !== 'system') {
      <button
        type="button"
        class="context-menu-item"
        cdkMenuItem
        (click)="onRenameTabElement(contextTab)">
        <mat-icon>edit_square</mat-icon>
        <span class="context-menu-item-title">Rename</span>
      </button>
    }
    @if (contextTab) {
      <button
        type="button"
        class="context-menu-item"
        cdkMenuItem
        (click)="closeTab(contextTabIndex || 0)">
        <mat-icon>close</mat-icon>
        <span class="context-menu-item-title">Close</span>
      </button>
    }
  </div>
</ng-template>
