# This file is a template for the .env file
# that should be created in the root of the project.

## public url of the app
PUBLIC_URL=https://example.org

## client url for redirects after auth
CLIENT_URL=http://localhost:4200

## the port the app should listen on
PORT=8333
HOST=127.0.0.1

## the port the app should listen on
# Comma-separated list of allowed CORS origins
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8333

## whether to enable local user/password auth
LOCAL_USERS_ENABLED=true

## Github OAuth
GITHUB_ENABLED=true
GITHUB_CLIENT_ID=value
GITHUB_CLIENT_SECRET=value

## the folder for the leveldb for yjs
DATA_PATH="./data"

## Database Configuration

# Database type - Choose between "postgres" or "sqlite"
DB_TYPE=sqlite

# PostgreSQL Configuration (used when DB_TYPE=postgres)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=wormuser
DB_PASSWORD=secret
DB_NAME=wormdb

# SQLite Configuration (used when DB_TYPE=sqlite)
DB_PATH=./sqlite.db
DB_LOGGING=false
