/.env
node_modules
frontend/stats.html
frontend/node_modules
api-client/node_modules
/frontend/documentation.json
backend/data
backend/test-data
backend/node_modules

# TypeScript build info
*.tsbuildinfo
