#file: noinspection SpellCheckingInspection
services:
  mongodb:
    image: 'mongo:latest'
    environment:
      - 'MONGO_INITDB_DATABASE=mydatabase'
      - 'MONGO_INITDB_ROOT_PASSWORD=secret'
      - 'MONGO_INITDB_ROOT_USERNAME=root'
    ports:
      - '27017'
  nginx:
    image: 'nginx:latest'
    ports:
      - '8333:8333'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
