.image-editor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px);
  background: var(--surface-container-low);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
