.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 0;
}
h2 {
  font-weight: 400;
  padding-left: 24px;
}
.close-button {
  margin-right: -12px;
}

.mat-mdc-dialog-content {
  padding: 0;
}

.settings-container {
  display: flex;
  height: 600px;
  max-height: 80vh;

  &.mobile {
    flex-direction: column;
  }
}

.settings-nav {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid var(--mat-divider-color);
  overflow-y: auto;
  padding: 16px;

  &.mobile {
    width: 100%;
    min-width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--mat-divider-color);
    padding-right: 0;
    display: flex;
    justify-content: space-around;

    .mat-mdc-list-item {
      flex: 1;
      justify-content: center;
      padding: 8px 0;

      .mat-icon {
        margin-right: 0;
      }
    }
  }
}

.settings-content {
  flex-grow: 1;
  padding: 16px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  &.mobile {
    padding: 16px 0;
  }
}

.mat-mdc-list-item {
  &.active {
    background-color: var(--mat-list-active-indicator-color);
    color: var(--mat-list-list-item-selected-trailing-icon-color);
    font-weight: bold;
  }

  &:focus-visible {
    outline: 2px solid var(--mat-list-list-item-focus-state-layer-color);
    outline-offset: -2px;
  }

  &:hover {
    background-color: var(--mat-list-list-item-hover-state-layer-color);
  }
}
