@if (documentUnavailable()) {
  <div class="error-message" data-testid="unsynchronized-document-warning">
    <p>{{ 'worldbuilding.tab.notSynced' | transloco }}</p>
    <p>
      {{ 'worldbuilding.tab.notSyncedHint' | transloco }}
    </p>
    @if (syncError()) {
      <p class="sync-error" data-testid="sync-error">{{ syncError() }}</p>
    }
    <button
      mat-stroked-button
      data-testid="sync-project-button"
      [disabled]="syncing()"
      (click)="triggerSync()">
      @if (syncing()) {
        <mat-spinner diameter="18"></mat-spinner>
        <span>{{ 'worldbuilding.tab.syncing' | transloco }}</span>
      } @else {
        <ng-container>
          <mat-icon>sync</mat-icon>
          <span>{{ 'worldbuilding.tab.syncProject' | transloco }}</span>
        </ng-container>
      }
    </button>
  </div>
} @else if (elementId() && elementType() && username() && slug()) {
  <app-document-breadcrumbs
    [elementId]="elementId()"></app-document-breadcrumbs>
  @defer (on idle) {
    <app-worldbuilding-editor
      [style.--breadcrumb-height.px]="breadcrumbVisible() ? 29 : 0"
      [elementId]="elementId()"
      [elementType]="elementType()!"
      [username]="username()!"
      [slug]="slug()!"></app-worldbuilding-editor>
  } @placeholder {
    <div class="editor-placeholder">
      <span>{{ 'worldbuilding.tab.loadingEditor' | transloco }}</span>
    </div>
  }
} @else {
  <div class="error-message">
    <p>{{ 'worldbuilding.tab.loadFailed' | transloco }}</p>
    <p>
      {{ 'worldbuilding.tab.elementId' | transloco }}
      {{ elementId() || ('worldbuilding.tab.notProvided' | transloco) }}
    </p>
  </div>
}
