<section class="settings-section">
  <mat-slide-toggle [(ngModel)]="zenModeFullscreen">
    {{ 'settings.projectSettingsTab.fullscreenZen' | transloco }}
  </mat-slide-toggle>
</section>

<section class="settings-section">
  <mat-slide-toggle [(ngModel)]="useTabsDesktop">
    {{ 'settings.projectSettingsTab.useTabs' | transloco }}
  </mat-slide-toggle>
</section>

<section class="settings-section">
  <mat-slide-toggle
    [(ngModel)]="autoSnapshots"
    data-testid="setting-auto-snapshots">
    {{ 'settings.projectSettingsTab.autoSaveSnapshots' | transloco }}
  </mat-slide-toggle>
</section>
