<section class="settings-section">
  <mat-checkbox [(ngModel)]="zenModeFullscreen">
    {{ 'settings.projectSettingsTab.fullscreenZen' | transloco }}
  </mat-checkbox>
</section>

<section class="settings-section">
  <mat-checkbox [(ngModel)]="useTabsDesktop">
    {{ 'settings.projectSettingsTab.useTabs' | transloco }}
  </mat-checkbox>
</section>

<section class="settings-section">
  <mat-checkbox
    [(ngModel)]="autoSnapshots"
    data-testid="setting-auto-snapshots">
    {{ 'settings.projectSettingsTab.autoSaveSnapshots' | transloco }}
  </mat-checkbox>
</section>
