@if (documentUnavailable()) {
  <div class="editor-placeholder" data-testid="unsynchronized-document-warning">
    <mat-icon>cloud_off</mat-icon>
    <span>This document has not been synced to your browser yet.</span>
    <span class="subtitle"
      >Reconnect to the server and try again once the document has finished
      syncing.</span
    >
  </div>
} @else if (fullDocumentId()) {
  @if (bareElementId()) {
    <app-document-breadcrumbs
      data-testid="document-breadcrumbs"
      [elementId]="bareElementId()"></app-document-breadcrumbs>
  }
  @defer (on idle) {
    <app-document-element-editor
      [documentId]="fullDocumentId()"
      [tabsDisabled]="!useTabsDesktop()"></app-document-element-editor>
  } @placeholder {
    <div class="editor-placeholder">
      <mat-icon>edit_note</mat-icon>
      <span>Loading editor...</span>
    </div>
  }
} @else {
  <div class="editor-placeholder">
    <mat-icon>edit_note</mat-icon>
    <span>Loading document...</span>
  </div>
}
