@if (documentUnavailable()) {
  <div class="editor-placeholder" data-testid="unsynchronized-document-warning">
    <mat-icon>cloud_off</mat-icon>
    <span>{{ 'project.documentTab.notSynced' | transloco }}</span>
    <span class="subtitle">{{
      'project.documentTab.notSyncedHint' | transloco
    }}</span>
    @if (syncError()) {
      <span class="sync-error" data-testid="sync-error">{{ syncError() }}</span>
    }
    <button
      mat-stroked-button
      data-testid="sync-project-button"
      [disabled]="syncing()"
      (click)="triggerSync()">
      @if (syncing()) {
        <mat-spinner diameter="18"></mat-spinner>
        <span>{{ 'project.documentTab.syncing' | transloco }}</span>
      } @else {
        <ng-container>
          <mat-icon>sync</mat-icon>
          <span>{{ 'project.documentTab.syncProject' | transloco }}</span>
        </ng-container>
      }
    </button>
  </div>
} @else if (fullDocumentId()) {
  @if (bareElementId()) {
    <app-document-breadcrumbs
      data-testid="document-breadcrumbs"
      [elementId]="bareElementId()"></app-document-breadcrumbs>
  }
  @defer (on idle) {
    <app-document-element-editor
      [style.--breadcrumb-height.px]="breadcrumbVisible() ? 29 : 0"
      [documentId]="fullDocumentId()"
      [tabsDisabled]="!useTabsDesktop()"></app-document-element-editor>
  } @placeholder {
    <div class="editor-placeholder">
      <mat-icon>edit_note</mat-icon>
      <span>{{ 'project.documentTab.loadingEditor' | transloco }}</span>
    </div>
  }
} @else {
  <div class="editor-placeholder">
    <mat-icon>edit_note</mat-icon>
    <span>{{ 'project.documentTab.loadingDocument' | transloco }}</span>
  </div>
}
