.menu-popover {
  min-width: 16rem;
}

.user-menu {
  text-indent: 2.5em;
  width:12rem;
  justify-content: start;
}

.avatar {
  height: 2rem;
  width: 2rem;
  display: flex;
  position: fixed;
  margin-top: -0.1rem;
  margin-left: -0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

img {
  height: auto;
}

mat-divider {
  margin: 8px 0;
  width: 12rem;
}
