.menu-popover {
  min-width: 16rem;
}
.menu-container {
  margin: 0 10px;
}
.user-menu {
  width: 100%;
  flex: 1;

  gap: 8px;
  padding: 0 16px;
  justify-content: start;
}
.menu-content {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
}
.avatar {
  height: 32px;
  width: 32px;
}
.user-name {
  flex:1;
}
.rounded-full {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-divider {
  margin: 8px 0;
}

.user-info {
  padding: 0 16px;
  font-weight: 500;
}
