.menu-popover {
  min-width: 16rem;
}
.menu-container {
  margin: 0 10px;
  display: contents; /* Avoid adding extra container dimensions */
}
.user-menu {
  width: 100%;
  flex: 1;
  min-width: 164px;
  gap: 8px;
  padding: 0 16px;
  justify-content: start;

  &.mini-mode {
    padding: 0;
    width: 32px; /* Match avatar size */
    height: 32px; /* Match avatar size */
    border-radius: 50%;
    min-width: unset;
    overflow: hidden; /* Ensure icon button stays within circle */
  }
}
.menu-content {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
}
.avatar {
  height: 32px;
  width: 32px;
}
.user-name {
  flex:1;
}
.rounded-full {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-divider {
  margin: 8px 0;
}

.user-info {
  padding: 0 16px;
  font-weight: 500;
  min-width: 164px;
}
