<div #treeContainer>
  <mat-tree
    #tree
    [dataSource]="dataSource"
    [levelAccessor]="levelAccessor"
    cdkDropList
    [cdkDropListData]="dataSource"
    [cdkDropListEnterPredicate]="canEnterDropList"
    (cdkDropListDropped)="drop($event)">
    <mat-tree-node
      cdkDrag
      [cdkDragData]="node"
      (cdkDragMoved)="calculateDropLevel($event)"
      [style.padding-left.px]="node.level * 24"
      [isExpanded]="node.expanded"
      *matTreeNodeDef="let node; when: hasChild">
      <button mat-icon-button (click)="toggleExpanded(node)">
        <mat-icon>
          {{ node.expanded ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.name }}
      <button mat-icon-button (click)="addItem(node)">
        <mat-icon>add</mat-icon>
      </button>
      <div
        class="drag-placeholder"
        *cdkDragPlaceholder
        [style.marginLeft.px]="currentDropLevel * 24"></div>
    </mat-tree-node>
    <mat-tree-node
      *matTreeNodeDef="let node"
      cdkDrag
      [cdkDragData]="node"
      (cdkDragMoved)="calculateDropLevel($event)"
      [style.padding-left.px]="node.level * 24">
      {{ node.name }}
      <div
        class="drag-placeholder"
        *cdkDragPlaceholder
        [class.invalid-drop]="
          !isValidDrop(draggedNode, targetNode, currentDropLevel)
        "
        [style.marginLeft.px]="currentDropLevel * 24">
        {{ isValidDrop(draggedNode, targetNode, currentDropLevel) }}
        {{ currentDropLevel }}
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
