.mat-icon-rtl-mirror {
  margin-right: 8px;
}

mat-tree {
  background-color: var(--sys-surface-container);
}

.drag-placeholder {
  background: var(--sys-secondary-container);
  opacity: 0.5;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 16px;
  height: 48px;
}
.drag-preview {
  background: transparent;
}
.context-item {
  border: 1px solid var(--sys-secondary-container);
  box-sizing: border-box;
}

.selected-item {
  background-color: var(--sys-secondary-container);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-tree-node {
  display: flex;
  align-items: center;
  justify-content: start;
}

.add-button {
  justify-self: end;
}

.node-edit-field {
  margin-bottom: -30px;
  margin-top: -10px;
}

.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: var(--sys-surface-container);
  color: var(--sys-on-surface);
  padding: 6px 0;
}

.context-menu-item {
  background-color: transparent;
  color: var(--sys-on-surface);
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 64px;
  line-height: var(--mdc-list-list-item-one-line-container-height);
  padding: 0 16px;
  height: var(--mdc-list-list-item-one-line-container-height);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.context-menu-item-title {
  margin-left: 8px;
}

.context-menu-item:hover {
  background-color: var(--mat-menu-item-hover-state-layer-color);
}

.node-title {
  margin-left: 8px;
}
