.mat-icon-rtl-mirror {
  margin-right: 8px;
}

.drag-placeholder {
  background: #2196F3;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: start
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.mat-tree-node {
  display: flex;
  align-items: center;
  justify-content: start
}

.add-button {
  justify-self: end;
}

.node-edit-field {
  margin-bottom: -30px;
  margin-top: -10px;
}

.folder-node {
  border: 1px solid #ccc;
}
