.mat-icon-rtl-mirror {
  margin-right: 8px;
}

.drag-placeholder {
  background: var(--sys-secondary-container);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 16px;
  height: 48px;
  border: 1px solid blue;
}
.context-item {
  border: 1px solid var(--sys-secondary-container);

  box-sizing: border-box;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.mat-tree-node {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid red;
}

.add-button {
  justify-self: end;
}

.node-edit-field {
  margin-bottom: -30px;
  margin-top: -10px;
}

.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: var(--sys-surface-container);
  color: var(--sys-on-surface);
  padding: 6px 0;
}
.context-menu-item {
  background-color: transparent;
  color: var(--sys-on-surface);
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.context-menu-item:hover {
  background-color: var(--mat-menu-item-hover-state-layer-color);
}

.context-menu-item:active {
  background-color: rgb(170, 170, 170);
}
.node-title {
  margin-left: 8px;
}
