<div #treeContainer class="project-tree-container">
  @if (isLoading()) {
    <div class="loading-overlay">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }

  @if (error()) {
    <div class="error-message">
      {{ error() }}
    </div>
  }

  <mat-tree
    #tree
    [dataSource]="dataSource"
    [levelAccessor]="levelAccessor"
    cdkDropList
    [cdkDropListData]="dataSource"
    (cdkDropListSorted)="sorted($event)"
    (cdkDropListDropped)="drop($event)">
    <mat-tree-node
      cdkDrag
      [cdkDragData]="node"
      (mousedown)="onNodeDown(node)"
      (touchstart)="onNodeDown(node)"
      (cdkDragMoved)="dragMove($event)"
      [cdkDragDisabled]="isLoading()"
      [style.padding-left.px]="node.level * 24 + (node.expandable ? 0 : 16)"
      [class.folder-node]="node.expandable"
      [class.context-item]="node.id === contextItem?.id"
      [class.selected-item]="node.id === selectedItem?.id"
      [isExpanded]="node.expanded"
      *matTreeNodeDef="let node"
      [cdkContextMenuTriggerFor]="contextMenu"
      (contextmenu)="onContextMenuOpen(node)"
      (cdkContextMenuClosed)="onContextMenuClose()"
      [cdkContextMenuTriggerData]="{ node: node }">
      @if (node.expandable) {
        <button
          mat-icon-button
          type="button"
          (click)="toggleExpanded(node)"
          [disabled]="isLoading()">
          <mat-icon>{{
            node.expanded ? 'expand_more' : 'chevron_right'
          }}</mat-icon>
        </button>
      }
      <app-tree-node-icon
        [isExpandable]="node.expandable"
        [isExpanded]="node.expanded"
        [type]="node.type">
      </app-tree-node-icon>

      <div
        class="node-title"
        tabindex="0"
        (click)="!node.expandable && onOpenFile(node)"
        (keyup.enter)="!node.expandable && onOpenFile(node)"
        (dblclick)="!node.expandable && onOpenFile(node)">
        {{ node.name }}
      </div>

      <div
        class="drag-placeholder"
        *cdkDragPlaceholder
        [class.folder-node]="node.expandable">
        @if (node.expandable) {
          <button mat-icon-button type="button">
            <mat-icon>{{
              node.expanded ? 'expand_more' : 'chevron_right'
            }}</mat-icon>
          </button>
          <mat-icon>folder</mat-icon>
        } @else {
          <app-tree-node-icon
            [isExpandable]="node.expandable"
            [isExpanded]="node.expanded"
            [type]="node.type">
          </app-tree-node-icon>
        }
        <div class="node-title">
          {{ node.name }}
        </div>
      </div>

      <div class="drag-preview" *cdkDragPreview>
        <app-tree-node-icon
          [isExpandable]="node.expandable"
          [isExpanded]="node.expanded"
          [type]="node.type"></app-tree-node-icon>
        <div class="node-title">{{ node.name }}</div>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>

<ng-template #contextMenu let-node="node">
  <div class="context-menu" cdkMenu>
    @if (!node.expandable) {
      <button
        type="button"
        class="context-menu-item"
        cdkMenuItem
        [disabled]="isLoading()"
        (click)="onOpenFile(node)">
        <mat-icon>open_in_new</mat-icon>
        <span class="context-menu-item-title">Open File</span>
      </button>
    }
    <button
      type="button"
      class="context-menu-item"
      cdkMenuItem
      [disabled]="isLoading()"
      (click)="onRename(node)">
      <mat-icon>edit_square</mat-icon>
      <span class="context-menu-item-title">Rename</span>
    </button>
    <button
      type="button"
      class="context-menu-item"
      cdkMenuItem
      [disabled]="isLoading()"
      (click)="onDelete(node)">
      <mat-icon>delete</mat-icon>
      <span class="context-menu-item-title">Delete</span>
    </button>
  </div>
</ng-template>
