<div class="center-selector"></div>

<div class="bookshelf-container">
  <div
    #projectsGrid
    cdkDrag
    [cdkDragLockAxis]="'x'"
    (cdkDragStarted)="onDragStarted()"
    (cdkDragMoved)="onDragMoved()"
    (cdkDragEnded)="onDragEnded($event)"
    class="projects-grid bookshelf">
    @for (project of projects; track project.slug; let i = $index) {
      <div
        (click)="selectProject(project)"
        (keyup.enter)="selectProject(project)"
        tabindex="0"
        role="button"
        class="project-card-wrapper"
        [class.centered]="activeCardIndex() === i"
        [attr.data-index]="i"
        title="Select {{ project.title }}">
        <app-project-card [project]="project" />
      </div>
    }
  </div>
</div>
