.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.file-upload {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

mat-dialog-content {
  min-width: 300px;
  padding: 1rem;
}

mat-dialog-actions {
  padding: 1rem;
  margin: 0;
}
