<div class="editor-toolbar">
  <ngx-editor-menu
    [editor]="editor"
    [toolbar]="toolbar"
    [colorPresets]="colorPresets"
    [customMenuRef]="customMenu">
  </ngx-editor-menu>
</div>
<ng-template #customMenu>
  <app-editor-controls-menu
    [editor]="editor"
    [viewMode]="viewMode"
    [zoomLevel]="zoomLevel"
    (viewModeChange)="setViewMode($event)"
    (zoomLevelChange)="onZoomLevelChange($event)">
  </app-editor-controls-menu>
</ng-template>

<div class="editor-container" [class.fit-width]="viewMode === 'fitWidth'">
  <div class="scaled-content">
    @if (viewMode === 'page') {
      <div class="ruler horizontal-ruler">
        <div class="ruler-measurements">
          <ng-container *ngFor="let cm of rulerMeasurements">
            <div class="ruler-mark" [style.left.cm]="cm">
              <div class="ruler-number">{{ cm }}</div>
            </div>
          </ng-container>
        </div>

        <!-- Page width controls -->
        <div
          class="page-guide left"
          (mousedown)="startDragging($event, 'pageLeft')"
          (mousemove)="onHandleMouseMove()"
          [style.left.px]="-6"
          [attr.data-tooltip]="getTooltipText('pageLeft')"></div>
        <div
          class="page-guide right"
          (mousedown)="startDragging($event, 'pageRight')"
          (mousemove)="onHandleMouseMove()"
          [style.right.px]="-6"
          [attr.data-tooltip]="getTooltipText('pageRight')"></div>

        <!-- Margin controls -->
        <div
          class="margin-guide left-margin"
          [style.left.cm]="dimensions.leftMargin"
          (mousedown)="startDragging($event, 'marginLeft')"
          (mousemove)="onHandleMouseMove()"
          draggable="false"
          [attr.data-tooltip]="getTooltipText('marginLeft')"></div>
        <div
          class="margin-guide right-margin"
          [style.right.cm]="dimensions.rightMargin"
          (mousedown)="startDragging($event, 'marginRight')"
          (mousemove)="onHandleMouseMove()"
          draggable="false"
          [attr.data-tooltip]="getTooltipText('marginRight')"></div>
      </div>
    }
    <div class="editor-wrapper">
      <ngx-editor
        [editor]="editor"
        [placeholder]="'Type here...'"
        class="editor-content"></ngx-editor>
    </div>
  </div>
</div>
