<div class="editor-toolbar">
  <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
  <div class="NgxEditor__Dropdown">
    <button
      type="button"
      class="NgxEditor__Dropdown--Text"
      (click)="toggleViewModeDropdown()"
      (keydown.enter)="toggleViewModeDropdown()"
      [attr.aria-expanded]="showViewModeDropdown"
      tabindex="0">
      {{ viewMode === 'page' ? 'Page' : 'Fit Width' }}
    </button>
    <div class="NgxEditor__Dropdown--Items" *ngIf="showViewModeDropdown">
      <button
        type="button"
        class="NgxEditor__Dropdown--Item"
        (click)="setViewMode('fitWidth')"
        (keydown.enter)="setViewMode('fitWidth')"
        tabindex="0">
        Fit Width
      </button>
      <button
        type="button"
        class="NgxEditor__Dropdown--Item"
        (click)="setViewMode('page')"
        (keydown.enter)="setViewMode('page')"
        tabindex="0">
        Page
      </button>
    </div>
  </div>
  <div class="zoom-controls">
    <button
      mat-icon-button
      (click)="decreaseZoom()"
      [disabled]="zoomLevel <= 50">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{ zoomLevel }}%</span>
    <button
      mat-icon-button
      (click)="increaseZoom()"
      [disabled]="zoomLevel >= 200">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="export-button">
    <button mat-icon-button (click)="exportDocument()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>

<div class="editor-container" [class.fit-width]="viewMode === 'fitWidth'">
  <div class="scaled-content">
    @if (viewMode === 'page') {
      <div class="ruler horizontal-ruler">
        <div class="ruler-measurements">
          <ng-container *ngFor="let cm of rulerMeasurements">
            <div class="ruler-mark" [style.left.cm]="cm">
              <div class="ruler-number">{{ cm }}</div>
            </div>
          </ng-container>
        </div>

        <!-- Page width controls -->
        <div
          class="page-guide left"
          (mousedown)="startDragging($event, 'pageLeft')"></div>
        <div
          class="page-guide right"
          (mousedown)="startDragging($event, 'pageRight')"></div>

        <!-- Margin controls -->
        <div
          *ngIf="viewMode === 'page'"
          class="margin-guide left-margin"
          [style.left.cm]="dimensions.leftMargin"
          (mousedown)="startDragging($event, 'marginLeft')"></div>
        <div
          *ngIf="viewMode === 'page'"
          class="margin-guide right-margin"
          [style.right.cm]="dimensions.rightMargin"
          (mousedown)="startDragging($event, 'marginRight')"></div>
      </div>
    }
    <div class="editor-wrapper">
      <ngx-editor
        [editor]="editor"
        [placeholder]="'Type here...'"
        class="editor-content"></ngx-editor>
    </div>
  </div>
</div>
