@if (isLoadingProviders() || hasAnyProviderEnabled()) {
  <div class="oauth-container">
    @if (shouldShowText()) {
      <h3 class="mat-subtitle-1">
        {{
          isRegisterContext
            ? ('auth.oauth.registerWith' | transloco)
            : ('auth.oauth.signInWith' | transloco)
        }}
      </h3>
    }

    @if (isLoadingProviders()) {
      <div class="loading-spinner">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="24"></mat-progress-spinner>
        <span>{{ 'auth.oauth.loadingOptions' | transloco }}</span>
      </div>
    } @else {
      @if (googleEnabled()) {
        <button
          type="button"
          mat-raised-button
          (click)="signInWithProvider('google')">
          <mat-icon svgIcon="google"></mat-icon>
          {{ 'auth.oauth.google' | transloco }}
        </button>
      }
      @if (facebookEnabled()) {
        <button
          type="button"
          mat-raised-button
          (click)="signInWithProvider('facebook')">
          <mat-icon svgIcon="facebook"></mat-icon>
          {{ 'auth.oauth.facebook' | transloco }}
        </button>
      }
      @if (githubEnabled()) {
        <button
          type="button"
          mat-raised-button
          (click)="signInWithProvider('github')">
          <mat-icon svgIcon="github"></mat-icon>
          {{ 'auth.oauth.github' | transloco }}
        </button>
      }
      @if (appleEnabled()) {
        <button
          type="button"
          mat-raised-button
          (click)="signInWithProvider('apple')">
          <mat-icon svgIcon="apple"></mat-icon>
          {{ 'auth.oauth.apple' | transloco }}
        </button>
      }
      @if (discordEnabled()) {
        <button
          type="button"
          mat-raised-button
          (click)="signInWithProvider('discord')">
          <mat-icon svgIcon="discord"></mat-icon>
          {{ 'auth.oauth.discord' | transloco }}
        </button>
      }
    }
  </div>
}
