<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>New Project</span>
</mat-toolbar>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>Project Title</mat-label>
    <input
      matInput
      formControlName="title"
      title="Project Title"
      placeholder="Title"
      required />
    @if (
      projectForm.get('title')?.hasError('required') &&
      projectForm.get('title')?.touched
    ) {
      <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Project Slug</mat-label>
    <input
      matInput
      formControlName="slug"
      title="Project Slug"
      placeholder="project-slug"
      required />
    @if (
      projectForm.get('slug')?.hasError('required') &&
      projectForm.get('slug')?.touched
    ) {
      <mat-error>Slug is required</mat-error>
    }
    @if (
      projectForm.get('slug')?.hasError('pattern') &&
      projectForm.get('slug')?.touched
    ) {
      <mat-error
        >Slug can only contain lowercase letters, numbers, and
        hyphens</mat-error
      >
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Project Description</mat-label>
    <textarea
      matInput
      title="Project Description"
      placeholder="Project Description"
      formControlName="description"></textarea>
  </mat-form-field>

  @if (projectUrl) {
    <div class="project-url-preview">
      <strong>Project URL:</strong> {{ projectUrl }}
    </div>
  }

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="projectForm.invalid">
    Create Project
  </button>
</form>
