.menu-bar {
  display: flex;
  padding: 4px;
}

.menu-bar button {
  margin-right: 8px;
}

.mat-menu-item {
  font-size: 14px;
}
mat-menu {
  background-color: var(--sys-surface-container-highest);
}
