.menu-bar {
  display: flex;
  padding: 4px;
  align-items: center;
}

.menu-bar button {
  margin-right: 8px;
}

.mat-menu-item {
  font-size: 14px;
}

mat-menu {
  background-color: var(--mat-sys-surface-container-highest);
}

app-user-menu {
  margin-left: auto;
}
