<div class="menu-bar">
  <app-user-menu></app-user-menu>
  @for (menu of menuItems; track menu.label) {
    <button mat-button [matMenuTriggerFor]="menuTrigger">
      {{ menu.label }}
    </button>
    <mat-menu #menuTrigger="matMenu">
      @for (item of menu.items; track item) {
        <button mat-menu-item (click)="onMenuItemClick(item)">
          {{ item }}
        </button>
      }
    </mat-menu>
  }

  <button mat-button (click)="onExitClick()" class="exit-button">
    Exit Project
  </button>
</div>
