<div class="welcome-container">
  <div class="content-wrapper">
    <mat-card>
      <div class="logo-container">
        <img src="/logo.png" alt="Inkweld Logo" class="logo-image" />
      </div>

      <div class="card-content">
        <h2 class="title">Inkweld</h2>

        <form (ngSubmit)="onLogin()">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="username"
              (ngModelChange)="onUsernameChange()"
              name="username"
              required
              aria-label="Username" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="password"
              (ngModelChange)="onPasswordChange()"
              name="password"
              required
              aria-label="Password" />
          </mat-form-field>
          
          <!-- Custom error message with icon -->
          <div *ngIf="passwordError" class="password-error-message">
            <mat-icon class="error-icon">error_outline</mat-icon>
            <span>{{ passwordError }}</span>
          </div>
          
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="isLoginButtonDisabled()"
            class="login-button">
            <span *ngIf="!isLoggingIn">Login</span>
            <span *ngIf="isLoggingIn">Logging in...</span>
          </button>
        </form>

        <mat-divider></mat-divider>

        <div class="oauth-container">
          <app-oauth-provider-list
            [isRegisterContext]="false"></app-oauth-provider-list>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="button"
          routerLink="/register"
          class="register-button">
          Don't have an account? Register here
        </button>
      </div>
    </mat-card>
  </div>
</div>
