name: Docker Publish

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun Runtime
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Frontend Dependencies
        working-directory: frontend
        run: bun install --save-text-lockfile

      - name: Build Frontend
        working-directory: frontend
        run: |
          bun run clean
          bun run build
          bun run compress

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: worm-server/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/worm-server:latest
            ghcr.io/${{ github.repository_owner }}/worm-server:${{ github.sha }}
